
// IMPORT FONTS HERE 


:root{
  --nav-background-color: rgb(39, 39, 46);
  --card-background: rgb(209, 206, 206);
  --navtext: rgb(247, 235, 180);
  --background-color-light:rgb(243, 243, 243);
  --text-color: rgb(30, 35, 56);
  --highlight:rgb(30,134,120);
  --brand-color: rgb(214, 106, 33);
  --footer:rgb(63, 64, 68);
}
/*
  --body-background: rgb(240,241,244);
  --navtext: rgb(247, 235, 180);
  --textcolor:rgb(40, 47, 64);
  --nav-background-color: rgb(255,255,255);
  --highlight:rgb(30,134,120);
  --brand-color: rgb(228,96,7);
*/

body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  background-color: var(--card-background);
}

.header-title {
  background-color: var(--nav-background-color);
}

.navbar {
  width: 100vw;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  background: var(--nav-background-color);

  h1 {
    color:var(--navtext);
    margin-left: 30px;
  }
 

  a {
    color:var(--navtext);
  }
}


main.main-content {
  background-color: var(--card-background);
  height: 100vh;
}


.new-visitor-navbar {
  margin-right: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-self: flex-end;
  gap: 20px;
}


.auth-session {
  margin-right: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-self: flex-end;
  gap: 20px;
}

a {
  text-decoration: none;
}

.navbar-item:hover {
  cursor: pointer;
}

.main {
  height: 100vh;
  background: var(--card-background);
}

.footer {
  display: flex;
  flex-direction: column;
  bottom: 0;
  align-items: center;
  width: 100vw;
  height: 65px;
  background:var(--footer);
}

.footer-one {
  width: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}

@media only screen and (max-width: 690px)  {

  @media only screen and (max-width: 450px)  {
    .navbar-one {
      #top-left {
        font-size: 32px;
    
        .up {
          top: -5px;
        }
    
        .dn {
          bottom: -5px;
        }
      }
    }
  }
}

// CSS TO BE USED LATER 

/*
#login-modal {
  display:none;
  width: 80vw;
  max-width: none;
  margin: 1.75rem auto;
}
#individual-signup-modal {
  display: none;
  width: 80vw;
  max-width: none;
  margin: 1.75rem auto;
}
#business-signup-modal {
  display: none;
  width: 80vw;
  max-width: none;
  margin: 1.75rem auto;
}
form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  // border: 2px solid yellow;
  margin: 0 15px;
  padding: 15px 10px;
}
 .dropdown {
    display: none;
  }
}
.modal{
  display: none;
  flex-direction: column;
  z-index: 1000;
  background: gray;
  position: fixed;
  margin-top: 400px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
  
.modal-dialog {
  width: 80vw;
  max-width: none;
  margin: 1.75rem auto;
}
*/
