{% extends 'base.html' %} 
{% load static %}
{% load sass_tags %}

{% block title %} Business Sign Up {% endblock %}

{% block content %}

{% comment %} Individual Sign up {% endcomment %}

  <section class="business-form-container">
    <h2>Individual Sign Up</h2>
    <form method="post" action="{% url 'individual_signup' %}">
      {% csrf_token %} {{ user_form.as_p }} {{ individual_form.as_p }} 
      <div class=button id="register-submit-button">
        <button type="submit" >Submit</button>
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
    </form>
  </section>
  
{% endblock %}