{% extends 'base.html' %} 
{% load static %}
{% load sass_tags %}

{% block title %} Business Sign Up {% endblock %}
{% block styles %}<link rel="stylesheet" href="{% sass_src 'styles/login.scss' %}">{% endblock styles %}
{% block content %}

{% comment %} Login Sign up {% endcomment %}
<main class="main-content">

      <div class="form-container" tabindex="-1">
        <h3 class="modal-title">Login</h3>

        <div class="form-field-container">
          <form method="post" action="{% url 'login' %}">
          {% csrf_token %} {{ form.as_p }}
            <div id="form-footer">
              <input type="submit" class="button" id="login-submit-button" value="login"/>
              <input type="hidden" name="next" value="{{ next }}" />
            </div>
          </form>
        </div>
      </div>
</main>

{% endblock %}